In [32]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from flask import Flask, jsonify
from pprint import pprint
import requests

import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import and_
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import joinedload


import sqlalchemy as db

In [61]:
##### import dti for joseph
import debt_to_income as dti

In [62]:
dti_df = dti.debt_to_income_init()
dti_df.head()

        year area_fips  DtoI_low  DtoI_high     county_name    state
125482  2009      1005      1.01       1.19  Barbour County  Alabama
125483  2009      1007      2.16       2.63     Bibb County  Alabama
125485  2009      1011      1.58       1.82  Bullock County  Alabama
125486  2009      1013      1.37       1.58   Butler County  Alabama
125487  2009      1015      1.58       1.82  Calhoun County  Alabama

In [63]:
##### Dropping Extra Column and Renaming Columns to match SQL Schema
dti_df = dti.debt_to_income_init()
dti_df = dti_df.drop(columns=["area_fips"])
dti_df.columns = ["Year", "DtoI_low", "DtoI_high", "CountyName", "StateName"]

In [64]:
engine = create_engine("postgresql://postgres:etlpass@localhost:5432/marriage_debt")

In [65]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [66]:
# We can view all of the classes that automap found
Base.classes.keys()

['DebtToIncomeRatiosByQtr',
 'MortgageCosts_time_permitting',
 'Income_time_permitting',
 'DebtToIncomeRatiosByYear',
 'MaritalStatus']

In [67]:
##### Save references to each table
marriage = Base.classes.MaritalStatus
debtyr = Base.classes.DebtToIncomeRatiosByYear

In [68]:
##### dti_df.dropna().to_sql('DebtToIncomeRatiosByYear', con=engine, if_exists='append', index = False)
engine.execute('SELECT * FROM "DebtToIncomeRatiosByYear" limit 10').fetchall()

[(2009, 'Butte County', 'Idaho', 0.0, 0.78),
 (2009, 'Barbour County', 'Alabama', 1.01, 1.19),
 (2009, 'Bibb County', 'Alabama', 2.16, 2.63),
 (2009, 'Bullock County', 'Alabama', 1.58, 1.82),
 (2009, 'Butler County', 'Alabama', 1.37, 1.58),
 (2009, 'Calhoun County', 'Alabama', 1.58, 1.82),
 (2009, 'Chambers County', 'Alabama', 2.63, 3.46),
 (2009, 'Cherokee County', 'Alabama', 2.16, 2.63),
 (2009, 'Chilton County', 'Alabama', 2.63, 3.46),
 (2009, 'Choctaw County', 'Alabama', 1.82, 2.16)]

In [87]:
##### import from Michael
import Marriage as mar
mar_df = mar.marriage_def()
mar_df.head()

,Total Population,Percent Married,Percent Widowed,Percent Divorced,Percent Separated,Never Married,Total Population Error,Percent Married Error,Percent Widowed Error,Percent Divorced Error,Percent Separated Error,Never Married Error,County,State,Year
0,38213,54.6,5.9,11.9,2.4,25.3,80,2.0,0.6,1.3,0.5,1.2,Autauga County,Alabama,2009
1,138986,59.9,6.8,10.9,1.7,20.6,81,1.5,0.5,0.8,0.3,0.8,Baldwin County,Alabama,2009
2,24159,43.5,8.4,11.6,4.1,32.4,17,2.7,0.8,1.5,1.1,1.9,Barbour County,Alabama,2009
3,17270,54.2,6.4,12.5,3.2,23.6,*****,3.9,1.1,2.2,1.3,2.2,Bibb County,Alabama,2009
4,45255,55.8,8.0,13.1,2.6,20.5,166,2.4,0.9,1.5,0.5,1.5,Blount County,Alabama,2009

In [88]:
##### Dropping Extra Columns and Renaming Columns to match SQL Schema
mar_df = mar_df.drop(columns=["Total Population", "Percent Widowed", "Total Population Error", "Percent Widowed Error"])
mar_df.columns = ["NowMarriedPct", "DivorcedPct", "SeparatedPct", "NeverMarriedPct", "NowMarriedError", "DivorcedError",
                  "SeparatedError", "NeverMarriedError", "CountyName", "StateName", "Year"]
mar_df.head()

,NowMarriedPct,DivorcedPct,SeparatedPct,NeverMarriedPct,NowMarriedError,DivorcedError,SeparatedError,NeverMarriedError,CountyName,StateName,Year
0,54.6,11.9,2.4,25.3,2.0,1.3,0.5,1.2,Autauga County,Alabama,2009
1,59.9,10.9,1.7,20.6,1.5,0.8,0.3,0.8,Baldwin County,Alabama,2009
2,43.5,11.6,4.1,32.4,2.7,1.5,1.1,1.9,Barbour County,Alabama,2009
3,54.2,12.5,3.2,23.6,3.9,2.2,1.3,2.2,Bibb County,Alabama,2009
4,55.8,13.1,2.6,20.5,2.4,1.5,0.5,1.5,Blount County,Alabama,2009

In [90]:
##### The init function is not working
mar_df = mar_df.reset_index(drop=True)
mar_df.head()

,NowMarriedPct,DivorcedPct,SeparatedPct,NeverMarriedPct,NowMarriedError,DivorcedError,SeparatedError,NeverMarriedError,CountyName,StateName,Year
0,54.6,11.9,2.4,25.3,2.0,1.3,0.5,1.2,Autauga County,Alabama,2009
1,59.9,10.9,1.7,20.6,1.5,0.8,0.3,0.8,Baldwin County,Alabama,2009
2,43.5,11.6,4.1,32.4,2.7,1.5,1.1,1.9,Barbour County,Alabama,2009
3,54.2,12.5,3.2,23.6,3.9,2.2,1.3,2.2,Bibb County,Alabama,2009
4,55.8,13.1,2.6,20.5,2.4,1.5,0.5,1.5,Blount County,Alabama,2009

In [91]:
##### Send data to Postgres SQL
mar_df.to_sql('MaritalStatus', engine, if_exists='append')
# mar_df.to_sql('MaritalStatus', engine)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "MaritalStatus" does not exist
LINE 1: INSERT INTO "MaritalStatus" (index, "NowMarriedPct", "Divorc...
                                     ^

[SQL: INSERT INTO "MaritalStatus" (index, "NowMarriedPct", "DivorcedPct", "SeparatedPct", "NeverMarriedPct", "NowMarriedError", "DivorcedError", "SeparatedError", "NeverMarriedError", "CountyName", "StateName", "Year") VALUES (%(index)s, %(NowMarriedPct)s, %(DivorcedPct)s, %(SeparatedPct)s, %(NeverMarriedPct)s, %(NowMarriedError)s, %(DivorcedError)s, %(SeparatedError)s, %(NeverMarriedError)s, %(CountyName)s, %(StateName)s, %(Year)s)]
[parameters: ({'index': 0, 'NowMarriedPct': '54.6', 'DivorcedPct': '11.9', 'SeparatedPct': '2.4', 'NeverMarriedPct': '25.3', 'NowMarriedError': '2.0', 'DivorcedError': '1.3', 'SeparatedError': '0.5', 'NeverMarriedError': '1.2', 'CountyName': 'Autauga County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 1, 'NowMarriedPct': '59.9', 'DivorcedPct': '10.9', 'SeparatedPct': '1.7', 'NeverMarriedPct': '20.6', 'NowMarriedError': '1.5', 'DivorcedError': '0.8', 'SeparatedError': '0.3', 'NeverMarriedError': '0.8', 'CountyName': 'Baldwin County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 2, 'NowMarriedPct': '43.5', 'DivorcedPct': '11.6', 'SeparatedPct': '4.1', 'NeverMarriedPct': '32.4', 'NowMarriedError': '2.7', 'DivorcedError': '1.5', 'SeparatedError': '1.1', 'NeverMarriedError': '1.9', 'CountyName': 'Barbour County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 3, 'NowMarriedPct': '54.2', 'DivorcedPct': '12.5', 'SeparatedPct': '3.2', 'NeverMarriedPct': '23.6', 'NowMarriedError': '3.9', 'DivorcedError': '2.2', 'SeparatedError': '1.3', 'NeverMarriedError': '2.2', 'CountyName': 'Bibb County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 4, 'NowMarriedPct': '55.8', 'DivorcedPct': '13.1', 'SeparatedPct': '2.6', 'NeverMarriedPct': '20.5', 'NowMarriedError': '2.4', 'DivorcedError': '1.5', 'SeparatedError': '0.5', 'NeverMarriedError': '1.5', 'CountyName': 'Blount County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 5, 'NowMarriedPct': '32.7', 'DivorcedPct': '9.0', 'SeparatedPct': '4.6', 'NeverMarriedPct': '44.5', 'NowMarriedError': '5.7', 'DivorcedError': '2.8', 'SeparatedError': '2.0', 'NeverMarriedError': '4.7', 'CountyName': 'Bullock County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 6, 'NowMarriedPct': '43.5', 'DivorcedPct': '12.7', 'SeparatedPct': '3.4', 'NeverMarriedPct': '29.2', 'NowMarriedError': '3.2', 'DivorcedError': '2.0', 'SeparatedError': '0.9', 'NeverMarriedError': '1.8', 'CountyName': 'Butler County', 'StateName': 'Alabama', 'Year': 2009}, {'index': 7, 'NowMarriedPct': '51.2', 'DivorcedPct': '12.9', 'SeparatedPct': '2.6', 'NeverMarriedPct': '24.4', 'NowMarriedError': '1.5', 'DivorcedError': '1.0', 'SeparatedError': '0.4', 'NeverMarriedError': '1.0', 'CountyName': 'Calhoun County', 'StateName': 'Alabama', 'Year': 2009}  ... displaying 10 of 28283 total bound parameter sets ...  {'index': 28281, 'NowMarriedPct': 58.8, 'DivorcedPct': 13.6, 'SeparatedPct': 0.7, 'NeverMarriedPct': 20.4, 'NowMarriedError': 3.4, 'DivorcedError': 2.4, 'SeparatedError': 0.8, 'NeverMarriedError': 2.4, 'CountyName': 'Washakie County', 'StateName': 'Wyoming', 'Year': 2017}, {'index': 28282, 'NowMarriedPct': 61.5, 'DivorcedPct': 10.7, 'SeparatedPct': 0.8, 'NeverMarriedPct': 17.7, 'NowMarriedError': 4.6, 'DivorcedError': 2.4, 'SeparatedError': 0.7, 'NeverMarriedError': 3.0, 'CountyName': 'Weston County', 'StateName': 'Wyoming', 'Year': 2017})]
(Background on this error at: http://sqlalche.me/e/f405)

In [30]:
##### Send data to SQL
engine.execute('SELECT * FROM "MaritalStatus" limit 10').fetchall()

[]