In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from flask import Flask, jsonify
from pprint import pprint
import requests

import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import and_
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import joinedload


import sqlalchemy as db

In [3]:
##### import dti for joseph

import debt_to_income as dti

In [4]:
dti_df = dti.debt_to_income_init()
dti_df.head()

        year area_fips  DtoI_low  DtoI_high     county_name    state
125482  2009      1005      1.01       1.19  Barbour County  Alabama
125483  2009      1007      2.16       2.63     Bibb County  Alabama
125485  2009      1011      1.58       1.82  Bullock County  Alabama
125486  2009      1013      1.37       1.58   Butler County  Alabama
125487  2009      1015      1.58       1.82  Calhoun County  Alabama

In [10]:
##### import from Michael
import Marriage as mar
mar_df = mar.marriage_def()
mar_df.head()

C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,99,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,122,123,125,126,127,128,129,130,131,132,133,134,135,137,138,139,140,141,142,143,144,145,146,147,149,150,151,152,153,154,155,156,157,158,159,161,162,163,164,165,166,167,168,169,170,171,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,99,101,102,103,104,105,106,107,108,109,110,111,123,125,126,127,128,129,130,131,132,133,134,135,137,138,139,140,141,142,143,144,145,146,147,149,150,151,152,153,154,155,156,157,158,159,171,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,99,101,102,103,104,105,106,107,108,109,110,111,123,125,126,127,128,129,130,131,132,133,134,135,147,149,150,151,152,153,154,155,156,157,158,159,171,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,99,101,102,103,104,105,106,107,108,109,110,111,123,135,147,149,150,151,152,153,154,155,156,157,158,159,161,162,163,164,165,166,167,168,169,170,171,173,174,175,176,177,178,179,180,181,182,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,99,101,102,103,104,105,106,107,108,109,110,111,123,135,137,138,139,140,141,142,143,144,145,146,147,149,150,151,152,153,154,155,156,157,158,159,161,162,163,164,165,166,167,168,169,170,171,173,174,175,176,177,178,179,180,181,182,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,65,66,67,68,69,70,71,72,73,74,75,77,78,79,80,81,82,83,84,85,86,87,89,90,91,92,93,94,95,96,97,98,99,101,102,103,104,105,106,107,108,109,110,111,123,135,137,138,139,140,141,142,143,144,145,146,147,149,150,151,152,153,154,155,156,157,158,159,161,162,163,164,165,166,167,168,169,170,171,173,174,175,176,177,178,179,180,181,182,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
C:\Users\SFDA\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (1,3,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20,21,22,23,24,25,26,27,39,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58,59,60,61,62,63,75,77,78,79,80,81,82,83,84,85,86,87,89,90,91,92,93,94,95,96,97,98,99,101,102,103,104,105,106,107,108,109,110,111,123,135,137,138,139,140,141,142,143,144,145,146,147,149,150,151,152,153,154,155,156,157,158,159,161,162,163,164,165,166,167,168,169,170,171,173,174,175,176,177,178,179,180,181,182,183,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,231,232,243,244,255,256,267,268,279,280,291,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

,Total Population,Percent Married,Percent Widowed,Percent Divorced,Percent Separated,Never Married,Total Population Error,Percent Married Error,Percent Widowed Error,Percent Divorced Error,Percent Separated Error,Never Married Error,County,State,Year
0,38213,54.6,5.9,11.9,2.4,25.3,80,2.0,0.6,1.3,0.5,1.2,Autauga County,Alabama,2009
1,138986,59.9,6.8,10.9,1.7,20.6,81,1.5,0.5,0.8,0.3,0.8,Baldwin County,Alabama,2009
2,24159,43.5,8.4,11.6,4.1,32.4,17,2.7,0.8,1.5,1.1,1.9,Barbour County,Alabama,2009
3,17270,54.2,6.4,12.5,3.2,23.6,*****,3.9,1.1,2.2,1.3,2.2,Bibb County,Alabama,2009
4,45255,55.8,8.0,13.1,2.6,20.5,166,2.4,0.9,1.5,0.5,1.5,Blount County,Alabama,2009

In [25]:
engine = create_engine("postgresql://postgres:etlpass@localhost:5432/marriage_debt")

In [26]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [27]:
# We can view all of the classes that automap found
Base.classes.keys()

['DebtToIncomeRatiosByQtr',
 'MortgageCosts_time_permitting',
 'Income_time_permitting',
 'DebtToIncomeRatiosByYear',
 'MaritalStatus']

In [28]:
# Save references to each table
marrage = Base.classes.MaritalStatus
debtyr = Base.classes.DebtToIncomeRatiosByYear

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)