In [32]:
import pandas as pd
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import and_
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import joinedload

import sqlalchemy as db

In [61]:
##### import "debt_to_income" from Joseph
import debt_to_income as dti

In [62]:
dti_df = dti.debt_to_income_init()
dti_df.head()

        year area_fips  DtoI_low  DtoI_high     county_name    state
125482  2009      1005      1.01       1.19  Barbour County  Alabama
125483  2009      1007      2.16       2.63     Bibb County  Alabama
125485  2009      1011      1.58       1.82  Bullock County  Alabama
125486  2009      1013      1.37       1.58   Butler County  Alabama
125487  2009      1015      1.58       1.82  Calhoun County  Alabama

In [63]:
##### Dropping Extra Column and Renaming Columns to match SQL Schema
dti_df = dti.debt_to_income_init()
dti_df = dti_df.drop(columns=["area_fips"])
dti_df.columns = ["Year", "DtoI_low", "DtoI_high", "CountyName", "StateName"]

In [64]:
##### Engine to connect to Postgres to pass data to
engine = create_engine("postgresql://postgres:etlpass@localhost:5432/marriage_debt")

In [65]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [66]:
# We can view all of the classes that automap found
Base.classes.keys()

['DebtToIncomeRatiosByQtr',
 'MortgageCosts_time_permitting',
 'Income_time_permitting',
 'DebtToIncomeRatiosByYear',
 'MaritalStatus']

In [67]:
##### Save references to each table
marriage = Base.classes.MaritalStatus
debtyr = Base.classes.DebtToIncomeRatiosByYear

In [68]:
##### Drop N/A values and then upload to Postgres; printing data from Postgres to confirm upload
dti_df.dropna().to_sql('DebtToIncomeRatiosByYear', con=engine, if_exists='append', index = False)
engine.execute('SELECT * FROM "DebtToIncomeRatiosByYear" limit 10').fetchall()

[(2009, 'Butte County', 'Idaho', 0.0, 0.78),
 (2009, 'Barbour County', 'Alabama', 1.01, 1.19),
 (2009, 'Bibb County', 'Alabama', 2.16, 2.63),
 (2009, 'Bullock County', 'Alabama', 1.58, 1.82),
 (2009, 'Butler County', 'Alabama', 1.37, 1.58),
 (2009, 'Calhoun County', 'Alabama', 1.58, 1.82),
 (2009, 'Chambers County', 'Alabama', 2.63, 3.46),
 (2009, 'Cherokee County', 'Alabama', 2.16, 2.63),
 (2009, 'Chilton County', 'Alabama', 2.63, 3.46),
 (2009, 'Choctaw County', 'Alabama', 1.82, 2.16)]

In [87]:
##### import "Marriage" from Michael
import Marriage as mar
mar_df = mar.marriage_def()
mar_df.head()

,Total Population,Percent Married,Percent Widowed,Percent Divorced,Percent Separated,Never Married,Total Population Error,Percent Married Error,Percent Widowed Error,Percent Divorced Error,Percent Separated Error,Never Married Error,County,State,Year
0,38213,54.6,5.9,11.9,2.4,25.3,80,2.0,0.6,1.3,0.5,1.2,Autauga County,Alabama,2009
1,138986,59.9,6.8,10.9,1.7,20.6,81,1.5,0.5,0.8,0.3,0.8,Baldwin County,Alabama,2009
2,24159,43.5,8.4,11.6,4.1,32.4,17,2.7,0.8,1.5,1.1,1.9,Barbour County,Alabama,2009
3,17270,54.2,6.4,12.5,3.2,23.6,*****,3.9,1.1,2.2,1.3,2.2,Bibb County,Alabama,2009
4,45255,55.8,8.0,13.1,2.6,20.5,166,2.4,0.9,1.5,0.5,1.5,Blount County,Alabama,2009

In [88]:
##### Dropping Extra Columns and Renaming Columns to match SQL Schema
mar_df = mar_df.drop(columns=["Total Population", "Percent Widowed", "Total Population Error", "Percent Widowed Error"])
mar_df.columns = ["NowMarriedPct", "DivorcedPct", "SeparatedPct", "NeverMarriedPct", "NowMarriedError", "DivorcedError",
                  "SeparatedError", "NeverMarriedError", "CountyName", "StateName", "Year"]
mar_df.head()

,NowMarriedPct,DivorcedPct,SeparatedPct,NeverMarriedPct,NowMarriedError,DivorcedError,SeparatedError,NeverMarriedError,CountyName,StateName,Year
0,54.6,11.9,2.4,25.3,2.0,1.3,0.5,1.2,Autauga County,Alabama,2009
1,59.9,10.9,1.7,20.6,1.5,0.8,0.3,0.8,Baldwin County,Alabama,2009
2,43.5,11.6,4.1,32.4,2.7,1.5,1.1,1.9,Barbour County,Alabama,2009
3,54.2,12.5,3.2,23.6,3.9,2.2,1.3,2.2,Bibb County,Alabama,2009
4,55.8,13.1,2.6,20.5,2.4,1.5,0.5,1.5,Blount County,Alabama,2009

In [94]:
##### Drop N/A values and then upload to Postgres; printing data from Postgres to confirm upload
mar_df.dropna().to_sql('MaritalStatus', con=engine, if_exists='append', index = False)
engine.execute('SELECT * FROM "MaritalStatus" limit 10').fetchall()

[(2009, 'Autauga County', 'Alabama', 54.6, 2.0, 11.9, 1.3, 2.4, 0.5, 25.3, 1.2),
 (2009, 'Baldwin County', 'Alabama', 59.9, 1.5, 10.9, 0.8, 1.7, 0.3, 20.6, 0.8),
 (2009, 'Barbour County', 'Alabama', 43.5, 2.7, 11.6, 1.5, 4.1, 1.1, 32.4, 1.9),
 (2009, 'Bibb County', 'Alabama', 54.2, 3.9, 12.5, 2.2, 3.2, 1.3, 23.6, 2.2),
 (2009, 'Blount County', 'Alabama', 55.8, 2.4, 13.1, 1.5, 2.6, 0.5, 20.5, 1.5),
 (2009, 'Bullock County', 'Alabama', 32.7, 5.7, 9.0, 2.8, 4.6, 2.0, 44.5, 4.7),
 (2009, 'Butler County', 'Alabama', 43.5, 3.2, 12.7, 2.0, 3.4, 0.9, 29.2, 1.8),
 (2009, 'Calhoun County', 'Alabama', 51.2, 1.5, 12.9, 1.0, 2.6, 0.4, 24.4, 1.0),
 (2009, 'Chambers County', 'Alabama', 49.7, 2.8, 10.4, 1.5, 3.5, 0.8, 26.2, 1.7),
 (2009, 'Cherokee County', 'Alabama', 64.6, 3.8, 9.7, 1.6, 1.8, 0.6, 15.3, 2.6)]