In [1]:
import pandas as pd

In [2]:
debt_file = "household-debt-by-county.csv"
debt_df = pd.read_csv(debt_file)
debt_df.head()

   year  qtr  area_fips   low  high
0  1999    1       1001  1.82  2.16
1  1999    1       1003  1.82  2.16
2  1999    1       1005  0.00  0.78
3  1999    1       1007  2.63  3.46
4  1999    1       1009  2.16  2.63

In [3]:
debt_cols = ["year", "qtr", "area_fips", "low", "high"]
debt_transformed = debt_df[debt_cols].copy()

In [4]:
debt_transformed = debt_transformed.rename(columns={"low": "DtoI_low", "high": "DtoI_high"})
debt_transformed["area_fips"]=debt_transformed["area_fips"].astype(str)

In [5]:
county_file = "area_titles.csv"
county_df = pd.read_csv(county_file)
county_df.head()

  area_fips                                      area_title
0     US000                                      U.S. TOTAL
1     USCMS      U.S. Combined Statistical Areas (combined)
2     USMSA  U.S. Metropolitan Statistical Areas (combined)
3     USNMS   U.S. Nonmetropolitan Area Counties (combined)
4      1000                            Alabama -- Statewide

In [6]:
county_cols = ["area_fips", "area_title"]
county_transformed = county_df[county_cols].copy()

In [7]:
county_transformed = county_transformed.rename(columns={"area_title": "county_name"})

In [8]:
merged_df = pd.merge(debt_transformed, county_transformed, on='area_fips', how='left')
merged_df.head(100)

,year,qtr,area_fips,DtoI_low,DtoI_high,county_name
0,1999,1,1001,1.82,2.16,"Autauga County, Alabama"
1,1999,1,1003,1.82,2.16,"Baldwin County, Alabama"
2,1999,1,1005,0.00,0.78,"Barbour County, Alabama"
3,1999,1,1007,2.63,3.46,"Bibb County, Alabama"
4,1999,1,1009,2.16,2.63,"Blount County, Alabama"
5,1999,1,1011,1.58,1.82,"Bullock County, Alabama"
6,1999,1,1013,0.00,0.78,"Butler County, Alabama"
7,1999,1,1015,1.01,1.19,"Calhoun County, Alabama"
8,1999,1,1017,1.01,1.19,"Chambers County, Alabama"
9,1999,1,1019,1.82,2.16,"Cherokee County, Alabama"
10,1999,1,1021,1.58,1.82,"Chilton County, Alabama"
11,1999,1,1023,0.78,1.01,"Choctaw County, Alabama"
12,1999,1,1025,0.78,1.01,"Clarke County, Alabama"
13,1999,1,1027,1.19,1.37,"Clay County, Alabama"
14,1999,1,1029,1.82,2.16,"Cleburne County, Alabama"
15,1999,1,1031,1.37,1.58,"Coffee County, Alabama"
16,1999,1,1033,0.78,1.01,"Colbert County, Alabama"
17,1999,1,1035,1.01,1.19,"Conecuh County, Alabama"
18,1999,1,1037,1.37,1.58,"Coosa County, Alabama"
19,1999,1,1039,1.01,1.19,"Covington County, Alabama"
20,1999,1,1041,1.01,1.19,"Crenshaw County, Alabama"
21,1999,1,1043,1.37,1.58,"Cullman County, Alabama"
22,1999,1,1045,1.01,1.19,"Dale County, Alabama"
23,1999,1,1047,0.78,1.01,"Dallas County, Alabama"
24,1999,1,1049,0.78,1.01,"DeKalb County, Alabama"
25,1999,1,1051,2.63,3.46,"Elmore County, Alabama"
26,1999,1,1053,1.01,1.19,"Escambia County, Alabama"
27,1999,1,1055,0.78,1.01,"Etowah County, Alabama"
28,1999,1,1057,1.37,1.58,"Fayette County, Alabama"
29,1999,1,1059,1.01,1.19,"Franklin County, Alabama"
...,...,...,...,...,...,...
70,1999,1,2050,0.00,0.78,"Bethel Census Area, Alaska"
71,1999,1,2060,0.00,0.78,"Bristol Bay Borough, Alaska"
72,1999,1,2068,1.01,1.19,"Denali Borough, Alaska"
73,1999,1,2070,0.00,0.78,"Dillingham Census Area, Alaska"
74,1999,1,2090,1.37,1.58,"Fairbanks North Star Borough, Alaska"
75,1999,1,2100,1.37,1.58,"Haines Borough, Alaska"
76,1999,1,2110,1.37,1.58,"Juneau City and Borough, Alaska"
77,1999,1,2122,1.58,1.82,"Kenai Peninsula Borough, Alaska"
78,1999,1,2130,1.37,1.58,"Ketchikan Gateway Borough, Alaska"
79,1999,1,2150,1.58,1.82,"Kodiak Island Borough, Alaska"
80,1999,1,2164,0.00,0.78,"Lake and Peninsula Borough, Alaska"
81,1999,1,2170,3.46,NaN,"Matanuska-Susitna Borough, Alaska"
82,1999,1,2180,1.01,1.19,"Nome Census Area, Alaska"
83,1999,1,2185,0.00,0.78,"North Slope Borough, Alaska"
84,1999,1,2188,0.00,0.78,"Northwest Arctic Borough, Alaska"
85,1999,1,2201,1.19,1.37,"Prince of Wales-Outer Ketchikan Census Area, AK"
86,1999,1,2220,1.58,1.82,"Sitka City and Borough, Alaska"
87,1999,1,2232,0.00,0.78,"Skagway-Hoonah-Angoon Census Area, Alaska"
88,1999,1,2240,0.78,1.01,"Southeast Fairbanks Census Area, Alaska"
89,1999,1,2261,0.78,1.01,"Valdez-Cordova Census Area, Alaska"
90,1999,1,2270,0.00,0.78,"Wade Hampton Census Area, Alaska"
91,1999,1,2280,0.78,1.01,"Wrangell-Petersburg Census Area, Alaska"
92,1999,1,2282,2.16,2.63,"Yakutat City and Borough, Alaska"
93,1999,1,2290,0.00,0.78,"Yukon-Koyukuk Census Area, Alaska"
94,1999,1,4001,0.78,1.01,"Apache County, Arizona"
95,1999,1,4003,1.82,2.16,"Cochise County, Arizona"
96,1999,1,4005,1.58,1.82,"Coconino County, Arizona"
97,1999,1,4007,2.16,2.63,"Gila County, Arizona"
98,1999,1,4009,1.58,1.82,"Graham County, Arizona"
99,1999,1,4011,0.00,0.78,"Greenlee County, Arizona"

In [9]:
cropped_df = merged_df.loc[(merged_df["year"]>=2009)]
cropped_df.head(25)

        year  qtr area_fips  DtoI_low  DtoI_high                county_name
125480  2009    1      1001      3.46        NaN    Autauga County, Alabama
125481  2009    1      1003      3.46        NaN    Baldwin County, Alabama
125482  2009    1      1005      1.01       1.19    Barbour County, Alabama
125483  2009    1      1007      2.16       2.63       Bibb County, Alabama
125484  2009    1      1009      3.46        NaN     Blount County, Alabama
125485  2009    1      1011      1.58       1.82    Bullock County, Alabama
125486  2009    1      1013      1.37       1.58     Butler County, Alabama
125487  2009    1      1015      1.58       1.82    Calhoun County, Alabama
125488  2009    1      1017      2.63       3.46   Chambers County, Alabama
125489  2009    1      1019      2.16       2.63   Cherokee County, Alabama
125490  2009    1      1021      2.63       3.46    Chilton County, Alabama
125491  2009    1      1023      1.82       2.16    Choctaw County, Alabama
125492  2009    1      1025      1.19       1.37     Clarke County, Alabama
125493  2009    1      1027      2.63       3.46       Clay County, Alabama
125494  2009    1      1029      2.63       3.46   Cleburne County, Alabama
125495  2009    1      1031      2.63       3.46     Coffee County, Alabama
125496  2009    1      1033      1.19       1.37    Colbert County, Alabama
125497  2009    1      1035      1.58       1.82    Conecuh County, Alabama
125498  2009    1      1037      3.46        NaN      Coosa County, Alabama
125499  2009    1      1039      1.82       2.16  Covington County, Alabama
125500  2009    1      1041      1.58       1.82   Crenshaw County, Alabama
125501  2009    1      1043      2.16       2.63    Cullman County, Alabama
125502  2009    1      1045      1.01       1.19       Dale County, Alabama
125503  2009    1      1047      1.37       1.58     Dallas County, Alabama
125504  2009    1      1049      1.82       2.16     DeKalb County, Alabama

In [10]:
cleaned_df = cropped_df.dropna(how="any")
cleaned_df.head(25)

        year  qtr area_fips  DtoI_low  DtoI_high                county_name
125482  2009    1      1005      1.01       1.19    Barbour County, Alabama
125483  2009    1      1007      2.16       2.63       Bibb County, Alabama
125485  2009    1      1011      1.58       1.82    Bullock County, Alabama
125486  2009    1      1013      1.37       1.58     Butler County, Alabama
125487  2009    1      1015      1.58       1.82    Calhoun County, Alabama
125488  2009    1      1017      2.63       3.46   Chambers County, Alabama
125489  2009    1      1019      2.16       2.63   Cherokee County, Alabama
125490  2009    1      1021      2.63       3.46    Chilton County, Alabama
125491  2009    1      1023      1.82       2.16    Choctaw County, Alabama
125492  2009    1      1025      1.19       1.37     Clarke County, Alabama
125493  2009    1      1027      2.63       3.46       Clay County, Alabama
125494  2009    1      1029      2.63       3.46   Cleburne County, Alabama
125495  2009    1      1031      2.63       3.46     Coffee County, Alabama
125496  2009    1      1033      1.19       1.37    Colbert County, Alabama
125497  2009    1      1035      1.58       1.82    Conecuh County, Alabama
125499  2009    1      1039      1.82       2.16  Covington County, Alabama
125500  2009    1      1041      1.58       1.82   Crenshaw County, Alabama
125501  2009    1      1043      2.16       2.63    Cullman County, Alabama
125502  2009    1      1045      1.01       1.19       Dale County, Alabama
125503  2009    1      1047      1.37       1.58     Dallas County, Alabama
125504  2009    1      1049      1.82       2.16     DeKalb County, Alabama
125506  2009    1      1053      1.37       1.58   Escambia County, Alabama
125507  2009    1      1055      1.82       2.16     Etowah County, Alabama
125508  2009    1      1057      2.16       2.63    Fayette County, Alabama
125509  2009    1      1059      1.37       1.58   Franklin County, Alabama

In [11]:
split_df = cleaned_df["county_name"].str.split(pat=", ", n=1, expand=True)
split_df.head()

                     0        1
125482  Barbour County  Alabama
125483     Bibb County  Alabama
125485  Bullock County  Alabama
125486   Butler County  Alabama
125487  Calhoun County  Alabama

In [12]:
cleaned_cols = ["year", "qtr", "area_fips", "DtoI_low", "DtoI_high"]
cleaned_transformed = cleaned_df[cleaned_cols].copy()

cleaned_merged = pd.merge(cleaned_transformed, split_df, left_index=True, right_index=True, how='left')
cleaned_merged.head()

        year  qtr area_fips  DtoI_low  DtoI_high               0        1
125482  2009    1      1005      1.01       1.19  Barbour County  Alabama
125483  2009    1      1007      2.16       2.63     Bibb County  Alabama
125485  2009    1      1011      1.58       1.82  Bullock County  Alabama
125486  2009    1      1013      1.37       1.58   Butler County  Alabama
125487  2009    1      1015      1.58       1.82  Calhoun County  Alabama

In [13]:
final_df = cleaned_merged.rename(columns={0: "county_name", 1: "state"})
final_df.head()

        year  qtr area_fips  DtoI_low  DtoI_high     county_name    state
125482  2009    1      1005      1.01       1.19  Barbour County  Alabama
125483  2009    1      1007      2.16       2.63     Bibb County  Alabama
125485  2009    1      1011      1.58       1.82  Bullock County  Alabama
125486  2009    1      1013      1.37       1.58   Butler County  Alabama
125487  2009    1      1015      1.58       1.82  Calhoun County  Alabama

In [18]:
firstqtr_df = final_df.loc[(final_df["qtr"]==1)]
firstqtr_df.head()

        year  qtr area_fips  DtoI_low  DtoI_high     county_name    state
125482  2009    1      1005      1.01       1.19  Barbour County  Alabama
125483  2009    1      1007      2.16       2.63     Bibb County  Alabama
125485  2009    1      1011      1.58       1.82  Bullock County  Alabama
125486  2009    1      1013      1.37       1.58   Butler County  Alabama
125487  2009    1      1015      1.58       1.82  Calhoun County  Alabama

In [19]:
newfinal_df = firstqtr_df.drop(columns=['qtr'])
newfinal_df.head()

        year area_fips  DtoI_low  DtoI_high     county_name    state
125482  2009      1005      1.01       1.19  Barbour County  Alabama
125483  2009      1007      2.16       2.63     Bibb County  Alabama
125485  2009      1011      1.58       1.82  Bullock County  Alabama
125486  2009      1013      1.37       1.58   Butler County  Alabama
125487  2009      1015      1.58       1.82  Calhoun County  Alabama